<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="description" content="Display Code">
    <meta name="author" content="Samuel Colvin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    {% block css %}
    {% endblock %}
  </head>
  <body>
{% block main %}
{% endblock %}
  </body>
</html>