{% extends "base.jinja" %}

{% block main %}
<p>Links found in <code>{{ url }}</code>:</p>
<ul>
{% for link in links %}
<li><a href="{{ link.url }}">{{ link.name }}</a></li>
{% endfor %}
</ul>
<p>Only links containing <code>"/raw/"</code> are shown.</p>
<pre>
{{ output }}
</pre>
{% endblock %}