{% extends "base.jinja" %}

{% block css %}
    <style>
      .url-input {
        width: 400px;
      }

      p {
        margin: 0px;
      }
    </style>
{% endblock %}

{% block main %}
<h4>Displays raw code from urls correctly highlighted.</h4>
<p>See <a target="_blank" href="https://github.com/samuelcolvin/codeshow">github.com/samuelcolvin/codeshow</a> for code.</p>
<br>
<form method="get">
<p>Enter Gist url (or url of any page containing links to raw code files):</p>
<input class="url-input" type="text" name="url"/>
<p>Or enter the actual url of the raw code:</p>
<input class="url-input" type="text" name="rawurl"/>
<p>Font size:</p>
<p><select name="fontsize">
{% for size in fontsizes %}
<option value="{{ size }}">{{ size }}%</option>
{% endfor %}
</select></p>
<p>Pygment style:</p>
<p><select name="pystyle">
{% for style in pystyles %}
<option value="{{ style }}">{{ style }}</option>
{% endfor %}
</select></p>
<br>
<p><input type="submit" value="submit"/></p>
</form>
{% endblock %}