{% extends "base.jinja" %}
{% block css %}
    <style>
    {{ css|safe }}
    body {
      margin: 0px;
      font-size: 150%;
    }

    .linenodiv {
      border-right: 1px solid #ddd;
      padding-right: 3px;
    }

    .codetable {
      position: absolute;
      top: -16px;
    }
    .code .hll { 
      background: transparent;
    }
    .code  { 
      background: transparent;
    }
    </style>
{% endblock %}

{% block main %}
{{ code|safe }}
{% endblock %}